<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="fmassoc" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.4.2.v20150204-1700"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
</locations>
</target>
