<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tomvej.fmassoc.parts.model.modelLoader">
      <client
            class="org.tomvej.fmassoc.plugin.constantmodelloader.ConstantModelLoader"
            description="Loads one sample model regardless of settings. Used for testing purposes."
            name="Constant Model">
      </client>
   </extension>

</plugin>
