<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tomvej.fmassoc.parts.paths.filterprovider">
      <client
            class="org.tomvej.fmassoc.plugin.filters.basic.IntegerFilterProvider"
            date="2015-02-05"
            reference="java.lang.Integer">
      </client>
      <client
            class="org.tomvej.fmassoc.plugin.filters.basic.MultiplicityFilterProvider"
            date="2015-02-05"
            reference="org.tomvej.fmassoc.model.db.Multiplicity">
      </client>
      <client
            class="org.tomvej.fmassoc.plugin.filters.basic.IntegerFilterProvider"
            date="2015-02-05"
            reference="java.lang.Integer">
      </client>
   </extension>

</plugin>
