<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tomvej.fmassoc.parts.model.modelLoader">
      <client
            class="org.tomvej.fmassoc.plugin.examplemodelloader.ExampleModelLoader"
            description="A single example model"
            name="Example Model">
      </client>
   </extension>

</plugin>
