<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tomvej.fmassoc.parts.paths.pathlabelprovider">
      <client
            class="org.tomvej.fmassoc.plugin.pathlabelprovider.PathLabelProvider"
            description="Displays path as list of comprising tables separated by =, &lt;, &gt; according to association multiplicity."
            name="Basic">
      </client>
   </extension>

</plugin>
