<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="modelLoader" name="Model Loader" schema="schema/modelLoader.exsd"/>

   <extension
         id="org.tomvej.fmassoc.parts.model.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
