<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.tomvej.fmassoc.parts.model.modelLoader">
      <client
            class="org.tomvej.fmassoc.plugin.mobilemodelloader.MobileModelLoader"
            description="Field Manager database model specified by model.xml."
            name="Field Manager">
      </client>
   </extension>

</plugin>
